.navbar{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.navbar .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-routes {
    margin-top: 11px;
    display: flex;
    justify-content: center;
}

.nav-routes {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.nav-routes:hover {
    text-decoration: underline;
}

.nav-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-contact span {
    margin-right: 20px;
    font-size: 18px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
}

.btn_contact {
    width: 140px;
    height: 45px;
    margin: 0 10px;
    padding: 5px 15px;
    background: #859BA6;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_contact:hover {
    background-color: #333;
}

.logo{
    margin-top: 5px;
    display: flex;
    width: 146px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.lang-btn.active {
    background: #859BA6;
    border-radius: 3px;
    color: #FFF;
}

.language-toggle {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.lang-btn {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    font-size: 12px;
    font-weight: 700;
    color: #859BA6;
}
.container{
    position: relative;
}

.banner_wrapper{
    height: 545px;
    background:linear-gradient(0deg, rgba(212, 227, 236, 0.30) -2.6%, rgba(247, 249, 251, 0.30) 100%) center (center / cover) no-repeat;
    padding: 0px 80px 0 60px;
}

.header{
    margin-top: 148px;
    color:#333;
    font-size: 50px;
    font-weight: 500;
    line-height: 130%;
}
.sub_header{
    margin-top: 30px;
    color:#333;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%; /* 26px */
}

.product_btn{
    margin-top: 30px;
    width: 140px;
    height: 45px;
    border-radius: 5px;
    background:#859BA6;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.descr_right{
    margin-top: 297px;
    color:#333;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.24px;
}

.sub_descr_right{
    margin-top: 10px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

.btn_detail{
    margin-top: 20px;
    display: flex;
    width: 140px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #859BA6;
    color: #859BA6;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.banner_picture{
    margin-top: 80px;
    margin-left: 40px;
    width: 560px;
    height: 377px;
}

.message-cookies{
    position: absolute;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 460px;
    margin-top: 15px;
    height: 85px;
    border-radius: 5px;
    background: #FFF;
}

.message-descr{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    width: 280px;
    margin-right: 20px;
}

.message-descr span{
    color: #859BA6;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-decoration-line: underline;
}

.message-btn{
    width: 100px;
    height: 45px;
    border: 2px solid #859BA6;
    border-radius: 5px;
    color: #859BA6;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.submit-form{
    width: 378px;
    height: 378px;
    padding: 60px 80px;
    border-radius: 5px;
    background: #FFF;
}

.submit-img{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.submit-header{
    margin-top: 30px;
    color: #333;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
}

.submit-subheader{
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 60px;
    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.mobile-dropdown-toggle {
    position: absolute;
    display: none;
    bottom: 18px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-dropdown-open{
    position: absolute;
    display: none;
    bottom: 18px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.molile-nav{
    display: flex;
    padding: 15px 15px 40px 15px;
    flex-direction: column;
    align-items: center;
    height: 568px;
    background: #FFF;
    gap: 71px;
    position: fixed; 
    top: 50px;      
    left: 50%;      
    transform: translateX(-50%);
    width: 320px;  
    max-width: 600px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.menu-contact span{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    margin-top: -60px;
}

.menu-btn{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    font-size: 12px;
    font-weight: 700;
    color: #859BA6;
    margin-top: 105px;
    text-align: center;
}

.menu-btn-wrapper{
    margin-top: -40px;
    margin-left: 40px;
}

.menu-btn.active {
    background: #859BA6;
    border-radius: 3px;
    color: #FFF;
}

.nav-routes{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.list-frame{
    margin-top: 71px;
    width: 137px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.mobile-only {
    display: none;
}

  //MOBILE

  @media screen and (max-width: 320px) {
    .mobile-dropdown-toggle {
        display: block;
    }
    .navbar-routes div:not(.mobile-dropdown-toggle) {
        display: none;
    }

    .navbar-contact{
        display: none;
    }

    .lang-btn{
        display: none;
    }

    .banner_wrapper{
        padding: 0 15px;
    }

    .btn_contact{
        position: absolute;
        bottom: 15px;
        display: flex;
        width: 100px;
        height: 30px;
        justify-content: center;
        align-items: center;
        color: #859BA6;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        border: 1.5px solid #859BA6;
        background-color:#FFF;
    }

    .banner_picture{
        padding-top: 20px;
        display: block;
        width: 240px;
        height: 170px;
        margin: 0 auto;
    }

    .logo{
        width: 91px;
        height: 18px;
    }

    .header{
        margin-top: 40px;
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }

    .sub_header{
        margin-top: 10px;
        font-size: 13px;
        font-weight: 300;
        line-height: 130%;
    }

    .product_btn{
        margin-top: 15px;
        width: 100px;
        height: 35px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
    }

    .descr_right{
        margin-left: 115px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 130%;
        width: 165px;
        text-align: left;
    }

    .sub_descr_right{
        margin-left: 115px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
    }

    .btn_detail{
        margin-left: 115px;
        margin-top: 15px;
        display: flex;
        width: 100px;
        height: 35px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    .message-cookies{
        padding: 15px 20px;
        right: 2px;
        top:435px;
        width: 290px;
        height: 78px;
        border-radius: 4px;
    }

    .message-descr{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        width: 170px;
        margin-right: 20px; 
        height: 48px;
    }

    .message-descr span{
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
    }

    .message-btn{
        width: 70px;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
    }

    .mobile-only {
        display: block;
    }

    .submit-form{
        padding: 0px;
        width: 209px;
        height: 257px;
    }

    .submit-img{
        margin-top: 40px;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 3.333px;
        justify-content: center;
        align-items: center;
    }

    .submit-header{  
        color:#333;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        margin: 0 auto;
        width: 115px;
        margin-top: 20px;
    }

    .submit-subheader{
        color:#333;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
        width: 129px;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 433px) {
    .mobile-dropdown-toggle {
        display: block;
    }
    .navbar-routes div:not(.mobile-dropdown-toggle) {
        display: none;
    }

    .navbar-contact{
        display: none;
    }

    .lang-btn{
        display: none;
    }

    .banner_wrapper{
        padding: 0 15px;
    }

    .btn_contact{
        position: absolute;
        bottom: 15px;
        display: flex;
        width: 100px;
        height: 30px;
        justify-content: center;
        align-items: center;
        color: #859BA6;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        border: 1.5px solid #859BA6;
        background-color:#FFF;
    }

    .banner_picture{
        padding-top: 20px;
        display: block;
        width: 240px;
        height: 170px;
        margin: 0 auto;
    }

    .logo{
        width: 91px;
        height: 18px;
    }

    .header{
        margin-top: 40px;
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }

    .sub_header{
        margin-top: 10px;
        font-size: 13px;
        font-weight: 300;
        line-height: 130%;
    }

    .product_btn{
        margin-top: 15px;
        width: 100px;
        height: 35px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
    }

    .descr_right{
        margin-left: 115px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 130%;
        text-align: right; 
    }
    
    .sub_descr_right{
        margin-left: 115px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        text-align: right;
    }
    

    .btn_detail{
        margin-left: auto;
        margin-top: 15px;
        display: flex;
        width: 100px;
        height: 35px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
    

    .message-cookies{
        padding: 15px 20px;
        right: 2px;
        top:435px;
        width: 290px;
        height: 78px;
        border-radius: 4px;
    }

    .message-descr{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        width: 170px;
        margin-right: 20px; 
        height: 48px;
    }

    .message-descr span{
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
    }

    .message-btn{
        width: 70px;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
    }

    .mobile-only {
        display: block;
    }

    .submit-form{
        padding: 0px;
        width: 209px;
        height: 257px;
    }

    .submit-img{
        margin-top: 40px;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 3.333px;
        justify-content: center;
        align-items: center;
    }

    .submit-header{  
        color:#333;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        margin: 0 auto;
        width: 115px;
        margin-top: 20px;
    }

    .submit-subheader{
        color:#333;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
        width: 129px;
        margin: 0 auto;
        margin-top: 15px;
    }

    .header {
        font-size: calc(16px + (28 - 16) * ((100vw - 321px) / (768 - 321))); 
    }

    .banner-col {
        padding: 20px;
    }

    .navbar {
        padding: 15px;
    }

  }
  
  @media only screen and (min-width: 434px) and (max-width: 768px) {
    .mobile-dropdown-toggle {
        display: block;
    }
    .navbar-routes div:not(.mobile-dropdown-toggle) {
        display: none;
    }

    .navbar-contact{
        display: none;
    }

    .lang-btn{
        display: none;
    }

    .banner_wrapper{
        padding: 0 15px;
    }

    .btn_contact{
        position: absolute;
        bottom: 15px;
        display: flex;
        width: 100px;
        height: 30px;
        justify-content: center;
        align-items: center;
        color: #859BA6;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        border: 1.5px solid #859BA6;
        background-color:#FFF;
    }

    .banner_picture{
        padding-top: 20px;
        display: block;
        width: 240px;
        height: 170px;
        margin: 0 auto;
        margin-top: 120px;
    }

    .logo{
        width: 91px;
        height: 18px;
    }

    .header{
        margin-top: 40px;
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }

    .sub_header{
        margin-top: 10px;
        font-size: 13px;
        font-weight: 300;
        line-height: 130%;
    }

    .product_btn{
        margin-top: 15px;
        width: 100px;
        height: 35px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
    }

    .descr_right{
        margin-left: 115px;
        margin-top: 120px;
        font-size: 14px;
        font-weight: 300;
        line-height: 130%;
        text-align: right; 
    }
    
    .sub_descr_right{
        margin-left: 115px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        text-align: right;
    }
    

    .btn_detail{
        margin-left: auto;
        margin-top: 15px;
        display: flex;
        width: 100px;
        height: 35px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
    

    .message-cookies{
        padding: 15px 20px;
        right: 2px;
        top:435px;
        width: 290px;
        height: 78px;
        border-radius: 4px;
    }

    .message-descr{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        width: 170px;
        margin-right: 20px; 
        height: 48px;
    }

    .message-descr span{
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
    }

    .message-btn{
        width: 70px;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
    }

    .mobile-only {
        display: block;
    }

    .submit-form{
        padding: 0px;
        width: 209px;
        height: 257px;
    }

    .submit-img{
        margin-top: 40px;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 3.333px;
        justify-content: center;
        align-items: center;
    }

    .submit-header{  
        color:#333;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        margin: 0 auto;
        width: 115px;
        margin-top: 20px;
    }

    .submit-subheader{
        color:#333;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
        width: 129px;
        margin: 0 auto;
        margin-top: 15px;
    }

    .header {
        font-size: calc(16px + (28 - 16) * ((100vw - 321px) / (768 - 321))); 
    }

    .banner-col {
        padding: 20px;
    }

    .navbar {
        padding: 15px;
    }

    

  }
  
  